
##简要描述

- 请做借口的简要描述

##请求URL
- ` http://www.handybest.com/index.php?m=XX&c=XX&a=XX `
  
##请求方式
- POST 
- GET

##参数：

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|username |是  |string |用户名   |

 ##返回示例

``` 
  {
    "status": 200,
    "info": "success",
    "data": ''
  }
```

 ##返回参数说明

|参数名|类型|说明|
|:-----  |:-----|-----                           |
|status |int   |200为成功 400-600为异常 具体异常信息 查看info  |
|info |string   |接口信息  |
|data |object   |具体接口信息  |
|xx |xx   |xx  |

 ##备注

- 如果任何问题 请联系后台接口开发人员
- 对接人：




-  状态码说明

|status|注释|
|:----   |------      |
|200|接口操作成功|
|403|操作权限不足 例如：用户未登陆|
|404|接口操作失败|
|100|任何接口`需要登录`都返回100|
- 备注：无
