<include file="Common/header" />
<link rel="stylesheet" href="__PUBLIC__/css/index.css" />

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <if condition="$login_user">
            <li ><a href="{:U('Home/Item/index')}">我的项目</a></li>
            <else />
            <li ><a href="{:U('Home/User/login')}">登录/注册</a></li>
          </if>
          
        </ul>
        <h3 class="muted">研发接口文档</h3>
      </div>

      <hr>

		
		<p class="lead " > 
			<small>
				第一出行文档中心
			</small>
		</p>
		<p class="text-center">
		<volist name='list' id='vo'>
			<a class="btn btn-primary  btn-large" style="margin: 15px;" href="/apidoc/index.php/home/item/show?item_id={$vo.item_id}" target="_blank">{$vo.item_name}</a>

			</volist>
			<!-- <a class="btn  btn-large" href="{:U('Home/item/show').'?item_id=3'}" target="_blank" >帮助教程&nbsp;<i class="icon-circle-arrow-right"></i></a> -->
		</p>

      <hr>


      <div class="footer">
        <p>&copy; Created By <a href="http://weibo.com/18120977" target="_blank"> Tech Team</a></p>
      </div>

    </div> <!-- /container -->


 <include file="Common/footer" />